*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  display: block;
}
body {
  font-family: "Poppins", sans-serif;
}
.mb-60 {
  margin-bottom: 60px;
}
.pb-120 {
  padding-bottom: 120px;
}
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
  text-transform: uppercase;
}
.sec_color {
  color: #22262a;
}
.hamburger-menu_wrapper {
  display: none;
}
.title,
.list,
.list_item,
.paragraph {
  margin: 0;
  padding: 0;
}
.list_item {
  list-style-type: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 83px;
  overflow: hidden;
}
.list {
  display: flex;
}
.title {
  font-weight: bold;
  text-transform: uppercase;
}
.main_title {
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
}
.nav_link {
  margin-right: 25px;
}
.header .list_item:last-child .nav_link {
  margin-right: 0;
}
.navigate {
  margin: 0 auto;
}
.nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.nav_card a {
  margin-right: 40px;
  font-size: 18px;
  line-height: 18px;
}
.nav_card a:last-child {
  margin-right: 0;
}
.search_form {
  position: relative;
  z-index: 100;
  transition: .5s ease-in-out;
  width: 0;
  opacity: 0;
  visibility: hidden;
}
.nav_search {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.07);
  padding: 5px;
  margin: 0;
  outline: none;
}
.search_clouse {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.search_form.active {
  margin-right: 30px;
  opacity: 1;
  visibility: visible;
}
.new_trend {
  padding: 100px 230px 100px 230px;
  min-height: 745px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url(../img/hero_bg.jpg) no-repeat center/cover;
}
.new_trend .wrapper {
  width: 100%;
}
.trend_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.new_trend_sub_title {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 27px;
}
.new_trend_title {
  font-size: 80px;
  line-height: 120px;
}
.new_trend_paragraph {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 25px;
}
.btn {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 6%;
  padding-right: 6%;
  background-color: #22262a;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
}
.new_trend_content .btn:first-of-type {
  margin-right: 35px;
}
.gallery_container img {
  object-fit: cover;
}
.gallery_box_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery_box.left_col {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.gallery_box.right_col img {
  height: 100%;
}
.gallery_left_col_img {
  width: 551px;
  height: 287px;
}
.gallery_container {
  overflow: hidden;
  padding: 123px 0 113px 0;
  display: flex;
  justify-content: space-between;
}
.gallery_box.left_col .gallery_left_col_img {
  margin: 0;
  margin-bottom: 16px;
}
.gallery_box.right_col {
  position: relative;
  flex: 0;
}
.gallery_left_col_bottom_img {
  width: 261px;
  height: 265px;
}
.gallery_catagory_name {
  display: block;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  padding: 4px 24px;
  text-align: center;
  position: absolute;
  left: 28px;
  bottom: 25px;
}
.fashion_container {
  padding-bottom: 110px;
}
.fashion_title_block {
  text-align: center;
  margin-bottom: 70px;
}
.fashion_title {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 15px;
}
.fashion_sub_title {
  font-size: 15px;
  line-height: 22px;
  font-weight: normal;
}
.fashion_card_wrapper {
  display: flex;
  min-width: 0;
}
.fashion_card_img {
  width: 100%;
  height: 371px;
}
.card {
  /* min-width: 268px; */
  max-width: 268px;
}
.card_info {
  display: block;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
}
.card_info_margin {
  margin-top: 35px;
}
.card_catagory {
  font-weight: 300;
}
.card_name {
  font-weight: 600;
}
.card_price {
  display: flex;
  justify-content: space-between;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  max-width: 145px;
}
.old_price {
  text-decoration: line-through;
}
.new_price {
  color: rgb(207, 41, 41);
}
.card:hover .fashion_card_img {
  background-color: pink;
}
.card:last-child {
  margin-right: 0;
}
.catagory_style_container {
  min-height: 690px;
  display: flex;
}
.style_left_col {
  align-self: flex-end;
  margin-right: 29px;
}
.style_right_col {
  width: 100%;
}
.fashion_style_block_img {
  width: 552px;
  height: 602px;
}
.style_right_top_container img {
  width: 514px;
  height: 451px;
}
.style_right_bottom_container img {
  width: 227px;
  height: 281px;
}
.style_right_bottom_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.box_img_decor {
  position: relative;
  margin-left: 33px;
  z-index: 1;
}
.box_img_decor::before {
  content: "";
  position: absolute;
  top: -22px;
  left: -25px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}
.fashion_style_show_link {
  margin-bottom: 36px;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
  position: relative;
}
.fashion_style_show_link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: #22262a;
}
.promo_block {
  padding: 129px 230px 129px 230px;
  min-height: 745px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url(../img/promo/1.jpg) no-repeat center/cover;
}
.promo_block .wrapper {
  width: 100%;
}
.promo_wrapper {
  justify-content: flex-start;
}
.footer_info_nav_block {
  background-color: #f2f8fc;
}
.footer_info_container {
  padding: 115px 0 105px 0;
  display: flex;
  justify-content: space-between;
}
.footer_location_info,
.subscribe_email_nav {
  flex-basis: 50%;
}
.footer_location_info {
  max-width: 406px;
}
.footer_title {
  font-size: 25px;
  line-height: 37px;
}
.footer_location_info .footer_title {
  margin-bottom: 17px;
}
.subscribe_email_nav .footer_title {
  margin-bottom: 24px;
}
.footer_info_text {
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 41px;
}
.address {
  padding-left: 41px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 16px;
  position: relative;
}
.address::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../img/decorate/location.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 15px;
  height: 15px;
}
.email_tel_block {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.email_tel_link {
  display: inline-block;
  text-transform: inherit;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}
.email_tel_block .email {
  position: relative;
  margin-bottom: 7px;
}
.email_tel_block .email::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #000;
  bottom: -3px;
  position: absolute;
}
.social_block i {
  color: #000;
}
.footer_location_info .social_block {
  display: flex;
}
.social_block .link {
  margin-right: 16px;
}
.subscribe_email_block {
  min-width: 532px;
  display: inline-flex;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
  margin-bottom: 71px;
}
.subscribe_email_block input {
  padding: 11.5px 24px;
  flex: 1;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  background: #ffffff;
  border-radius: 5px 0 0 5px;
  outline: none;
  border: none;
}
.subscribe_email_block button {
  padding: 0;
  margin: 0;
  border: none;
  background: #ffffff;
  padding: 13.5px 24px;
  border-radius: 0 5px 5px 0;
  outline: none;

  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
}
.footer_nav {
  display: flex;
  flex-wrap: wrap;
}
.footer_list_block {
  margin-right: 88px;
}
.footer_list_block:last-child {
  margin-right: 0;
}
.footer_list_block .list_title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 27px;
}
.footer_list {
  padding: 0;
  margin: 0;
}
.footer_list_item {
  list-style-type: none;
  margin-bottom: 21px;
}
.footer_nav_link {
  text-transform: inherit;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}
.footer_list_item:last-child {
  margin-bottom: 0;
}
.copyright_block {
  background: #e7f5f8;
  padding-top: 25px;
  padding-bottom: 25px;
}
.copyright_content {
  text-align: center;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
}

/* Media query */

@media (max-width: 1599px) {
  .search_form.active {
    width: 250px;
  }
}

@media (min-width: 1600px) {
  .promo_block {
    background-position: top;
  }
  .new_trend {
    background-position: top;
  }
  .new_trend_sub_title {
    font-size: 25px;
  }
  .new_trend_title {
    font-size: 100px;
  }
  .new_trend_paragraph {
    font-size: 25px;
  }
  .new_trend .wrapper, .promo_block .wrapper, header .wrapper,.footer_info_nav_block .wrapper {
    max-width: 1500px;
  }
  .search_form.active {
    width: 400px;
  }
}

@media (max-width: 1220px) {
  .search_form.active {
    width: 150px;
  }
  .wrapper {
    max-width: 1000px;
  }
  .new_trend {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 545px;
  }
  .gallery_left_col_bottom_img {
    width: 225px;
  }
  .gallery_left_col_img {
    width: 460px;
  }
  .gallery_right_col_img {
    width: 510px;
  }
  .card {
    min-width: 320px;
  }
  .fashion_card_img {
    height: auto;
    min-height: 443px;
  }
  .fashion_style_block_img {
    width: 450px;
    height: auto;
  }
  .style_right_top_container img {
    width: 400px;
    height: auto;
  }
  .catagory_style_container {
    justify-content: center;
  }
  .style_left_col {
    margin-right: 50px;
  }
  .promo_block {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 445px;
  }
}

@media (max-width: 1080px) {
  
  .fashion_section .wrapper {
    max-width: 750px;
  }
  .wrapper {
    max-width: 90%;
  }
  .footer_list_block {
    margin-bottom: 25px;
  }
  .new_trend {
    padding-left: 0;
    padding-right: 0;
    min-height: 445px;
    background-position: top;
  }
  .gallery_container {
    flex-direction: column;
  }
  .gallery_box.right_col {
    margin-bottom: 40px;
  }
  .gallery_box.left_col .gallery_left_col_img {
    width: 100%;
    height: auto;
  }
  .nav_wrapper {
    display: none;
  }
  .hamburger-menu_wrapper {
    display: block;
    z-index: 100;
  }
  .main_title {
    position: relative;
    z-index: 100;
  }
  .hamburger-menu_conteiner {
    display: flex;
  }
  .hamburger-menu {
    width: 60px;
    height: 60px;
    background-color: #e7f5f8;
    position: relative;
  }
  .hamburger-menu_line {
    display: block;
    width: 30px;
    height: 4px;
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0s;
  }
  .hamburger-menu_line::after,
  .hamburger-menu_line::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: rgba(0, 0, 0, 1);
    transition: 0.3s;
  }
  .hamburger-menu_line::after {
    top: -10px;
  }
  .hamburger-menu_line::before {
    bottom: -10px;
  }
  .hamburger-menu_conteiner.active .hamburger-menu_line,
  .hamburger-menu_conteiner.active .hamburger-menu_line::after,
  .hamburger-menu_conteiner.active .hamburger-menu_line::before {
    left: 50%;
    top: 50%;
  }
  .hamburger-menu_conteiner.active .hamburger-menu_line {
    height: 0;
  }
  .hamburger-menu_conteiner.active .hamburger-menu_line::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .hamburger-menu_conteiner.active .hamburger-menu_line::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .nav_wrapper.active {
    display: flex;
    overflow: auto;
    padding-top: 95px;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #faebd7;
  }
  .nav_wrapper.active .navigate {
    margin: 50px 0 0;
  }
  .nav_wrapper.active .list_item {
    margin-bottom: 20px;
  }
  .nav_wrapper.active .nav_card a {
    font-size: 25px;
  }
  .nav_wrapper.active .nav_link {
    display: inline-block;
    margin-right: 0;
    font-size: 25px;
  }
  .nav_wrapper.active .list {
    flex-direction: column;
  }
  .nav_wrapper.active .nav_card {
    order: -1;
  }
  .promo_block {
    padding-right: 0;
    padding-left: 0;
  }
  .footer_info_container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .new_trend_title {
    font-size: 70px;
    line-height: 75px;
  }

  .gallery_left_col_bottom_img {
    width: calc(50% - 10px);
  }
  .gallery_box.right_col img {
    width: 100%;
    height: auto;
  }
  .gallery_container {
    padding-top: 100px;
    padding-bottom: 100px;
    flex-direction: column-reverse;
  }
  .gallery_left_col_bottom_img {
    height: 480px;
  }
  .catagory_style_container {
    flex-direction: column;
  }
  .style_left_col {
    align-self: center;
    margin-right: 0;
    margin-bottom: 30px;
  }
  .fashion_title_block {
    margin-bottom: 30px;
  }
  .style_right_top_container img {
    width: 450px;
    height: auto;
    margin: 0 auto;
  }
  .promo_block {
    padding-right: 0;
    padding-left: 0;
  }
  .footer_info_container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .footer_nav {
    margin-bottom: 50px;
  }
  .footer_info_container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .search_form {
    order: -1;
  }
  .search_form.active {
    width: 400px;
    margin: 20px 0;
  }
}
@media (max-width: 800px) {
  .gallery_left_col_bottom_img {
    height: 350px;
  }
  .promo_block {
    background-position: right;
  }
  .card {
    min-width: inherit;
    max-width: inherit;
  }
  .fashion_section .wrapper {
    max-width: 90%;
  }
}

@media (max-width: 600px) {
  .fashion_section .wrapper {
    max-width: 90%;
  }
  .subscribe_email_block {
    min-width: 55%;
    margin-bottom: 40px;
  }
  .style_right_top_container img {
    width: 100%;
    max-width: 450px;
  }
  .new_trend_title {
    font-size: 55px;
    line-height: 50px;
  }
  .gallery_left_col_bottom_img {
    height: 200px;
  }
  .fashion_style_block_img {
    width: 100%;
    max-width: 450px;
  }
  .box_img_decor::before {
    width: 110%;
  }
}

@media (max-width: 500px) {
  .footer_list_block {
    margin-right: 50px;
  }
  .style_right_bottom_container img {
    width: 100%;
    height: auto;
  }
  .subscribe_email_block {
    min-width: inherit;
    max-width: 290px;
  }
  .subscribe_email_block input {
    width: 100%;
  }
  .style_right_bottom_container {
    max-width: 450px;
    margin: 0 auto;
  }
  .box_img_decor::before {
    display: none;
  }
  .style_right_top_container {
    margin-bottom: 10px;
  }
  .fashion_section .wrapper {
    max-width: 300px;
  }
  .new_trend {
    background-position: top left -200px;
  }
  .search_form.active {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .new_trend_title {
    font-size: 45px;
    line-height: 40px;
  }
  .new_trend_paragraph {
    font-size: 18px;
  }
  .new_trend_content .btn:first-of-type {
    margin-right: 15px;
  }
  .fashion_section .wrapper {
    max-width: 300px;
  }
}
